<h1> URL Shortener </h1>

<select class="js-example-basic-single" name="state">
  <option value="AL">Alabama</option>
  <option value="WY">Wyoming</option>
</select>

<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>

<%= render partial: "form", locals: {link: @link} %>

<div id = "links" class="mt-8 flex flex-col gap-4 divide-y divide-gray-100">
  <%= render @links %>
</div>